{
  "env": {
      "browser": true,
      "es2021": true,
      "node": true,
      "jest": true
  },
  "extends": [ 
      "eslint:recommended",
      "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
      "ecmaVersion": 12,
      "sourceType": "module",
      "requireConfigFile": false
  },
  "plugins": [
      "html",
      "prettier"
  ],
  "rules": {
      "prettier/prettier": "warn",
      "no-unused-vars": "warn",
      "no-underscore-dangle": [2, { "allow": ["__filename", "__dirname"] }]
  }
}